<!DOCTYPE html>
<html>
<head>
  <title>Looker Embedding App</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script src="https://cdn.looker.com/embed.js" crossorigin="anonymous"></script>
</head>
<body>
  <!-- <h1>LA City Parking Citations</h1> -->
  <div id="looker-embed"></div>
  <iframe width="1000" height="700" src="https://lookerstudio.google.com/embed/reporting/5084d19c-d11e-4acd-8928-15d3de263906/page/Q0sUD" frameborder="0" style="border:0" allowfullscreen></iframe>  </body>
  </html>
